img {
  width: 100%;
}
.hero {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.first {
  color: black;
  font-size: 35;
  font-family: Ubuntu;
  font-weight: 400;
  word-wrap: break-word;
}
.second {
  color: black;
  font-size: 40;
  font-family: Ubuntu;
  font-weight: 700;
  word-wrap: break-word;
}
.arrow{
  width:13px;
 margin-left:7px;
 border:1px solid greenyellow;
 border-radius: 8px;
}
/* .btn {
  background: green;
  border-radius: 50px;
  backdrop-filter: blur(21px);
} */
